{% extends 'base.html.twig' %}

{% block title %}Tramite index{% endblock %}

{% block body %}
    <h1>Tramite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tramite in tramites %}
            <tr>
                <td>{{ tramite.id }}</td>
                <td>{{ tramite.tipo }}</td>
                <td>{{ tramite.date ? tramite.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_tramite_show', {'id': tramite.id}) }}">show</a>
                    <a href="{{ path('app_tramite_edit', {'id': tramite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tramite_new') }}">Create new</a>
{% endblock %}
